<h1>REACTIVE METHOD</h1>
<div class="container">
<form [formGroup]="makingProjectForm" (ngSubmit)="onSubmit()">
<div class="row form-group">
  <label for="projectName">Project Name:</label>
  <input class="form-control" formControlName="projectName"  id="projectName">
  <span class="help-block" *ngIf="!makingProjectForm.get('projectName').valid && makingProjectForm.get('projectName').touched">You're Not Allowed To Do That Baby!</span>
</div>
<div class="row form-group">
  <label for="email">Email:</label>
  <input class="form-control" formControlName="email"  id="email">
</div>
<div class="row form-group">
  <label for="status">Status:</label>
  <select  class="form-control" formControlName="projectStatus"  id="status">

    <option *ngFor="let status of statuses" [value]="status" class="form-control">{{status}}</option>
 

  </select>
</div>




  <button class="btn btn-success" type="submit">Submit</button>
</form>

</div>




<h1>TEMPLATE DRIVEN</h1>
  
  
  <div class="container">
  <form  (ngSubmit)="onSubmit()">
  <div class="row form-group">
    <label for="projectName">Project Name:</label>
    <input class="form-control"   id="projectName">
    <span class="help-block">You're Not Allowed To Do That Baby!</span>
  </div>
  <div class="row form-group">
    <label for="email">Email:</label>
    <input class="form-control"        id="email">
  </div>
  <div class="row form-group">
    <label for="status">Status:</label>
    <select  class="form-control"   id="status">
  
      <option *ngFor="let status of statuses" [value]="status" class="form-control">{{status}}</option>
   
  
    </select>
  </div>
  
  
  
  
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
  
  </div>